#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "dan-tests"


comment "Build Options"

# //////////////////////////////////////////////////////////////////////////// #
# //  BUILD_COMMON  ////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/build_common.kconfig

# //////////////////////////////////////////////////////////////////////////// #
# //  TOOLCHAIN  ///////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/toolchain.kconfig

# //////////////////////////////////////////////////////////////////////////// #
# //  DOCKER  //////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/docker.kconfig

# //////////////////////////////////////////////////////////////////////////// #
# //  CODAC   //////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/iter_codac.kconfig

# //////////////////////////////////////////////////////////////////////////// #
# //  QT  //////////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/qtdesktop.kconfig

